@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Work Sans';
  src: local('../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf'),
    url('../assets/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf')
      format('truetype');
}


@font-face {
    font-family: 'Avenir-regular';
    src: local('../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Regular.otf'),
      url('../../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Regular.otf')
        format('truetype');
  }
  
  @font-face {
    font-family: 'Avenir-medium';
    src: local('../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf'),
      url('../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Medium.otf')
        format('truetype');
  }
  
  @font-face {
    font-family: 'Avenir-bold';
    src: local('../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Demi.otf'),
      url('../assets/fonts/Avenir_Next_Pro/AvenirNextLTPro-Demi.otf')
        format('truetype');
  }
  

  $work-sans: 'Work Sans', 'sans-serif';
  $avenir-regular: 'Avenir-regular', sans-serif;
  $avenir-medium: 'Avenir-medium', sans-serif;
  $avenir-bold: 'Avenir-bold', sans-serif;
  