@use '../styles/color.scss' as *;
@use '../styles/func' as *;

.Layout {
  width: 100%;
  font-size: 1rem;
  display: flex;
  color: #000;
  box-sizing: border-box;

  [data-theme='dark'] {
    width: 100%;
    color: $light;
    background-color: $dark-theme;
  }

  [data-theme='light'] {
    width: 100%;
    color: $dark;
    background-color: darken($color: $light-theme, $amount: 5);
  }
}
