@use '../styles/color.scss' as c;
@use '../styles/func' as *;

.Layout {
  width: 100%;
  font-size: 1rem;
  display: flex;
  color: #000;
  box-sizing: border-box;

  [data-theme='dark'] {
    width: 100%;
    color: c.$light;
    background-color: c.$dark;
  }

  [data-theme='light'] {
    width: 100%;
    color: #000;
    background-color: darken($color: c.$light, $amount: 5);
  }
}
